In [5]:
import pandas as pd
excel_file = pd.ExcelFile('SM.xlsx')
print (excel_file.sheet_names)
df = excel_file.parse('Sheet1') 
print(df)

['Sheet1']
   Unnamed: 0    Name  Age    Stream  Percentage
0           1   Saleh   21     Maths          75
1           2  Sameer   19   Science          80
2           3   Arsal   19  Commerce          70
3           4    Faiq   21     Maths          65
4           5  Subhan   18   Science          85

In [7]:
import pandas as pd

data = {
    "Math": [85, 90, 78, 92, 88],
    "Science": [80, 85, 75, 95, 82],
    "English": [88, 76, 85, 89, 91],
    "History": [92, 81, 88, 84, 86]
}


index = ["Ali", "Amir", "Kamran", "Sara", "Zara"]

df = pd.DataFrame(data, index=index)

print(df)

        Math  Science  English  History
Ali       85       80       88       92
Amir      90       85       76       81
Kamran    78       75       85       88
Sara      92       95       89       84
Zara      88       82       91       86

In [8]:
import pandas as pd


df = pd.read_excel('SM.xlsx')

print(df.iloc[:, :2])

   Unnamed: 0    Name
0           1   Saleh
1           2  Sameer
2           3   Arsal
3           4    Faiq
4           5  Subhan

In [10]:
import pandas as pd

df = pd.read_excel('SM.xlsx',skiprows=2)

print(df)

   2  Sameer  19   Science  80
0  3   Arsal  19  Commerce  70
1  4    Faiq  21     Maths  65
2  5  Subhan  18   Science  85

In [2]:
import pandas as pd

df = pd.read_csv('Employee.csv')

df['Gender'] = df['Gender'].fillna("No Gender")

print(df.iloc[0:11])

   S.No               Name     Gender  Age  Unnamed: 4
0     1        Olivia Chen     Female   25         NaN
1     2        Ethan Patel       Male   26         NaN
2     3    Sophia Martinez     Female   23         NaN
3     4       Liam Johnson       Male   30         NaN
4     5            Ava Kim     Female   31         NaN
5     6         Noah Singh       Male   26         NaN
6     7  Isabella Thompson  No Gender   22         NaN
7     8       Mason Rivera  No Gender   23         NaN
8     9       Mia Gonzalez     Female   33         NaN
9    10        James Brown       Male   38         NaN

In [3]:
import pandas as pd

# Sample data
data = {'Age': [25, 32, 40, 50, 28], 'Salary': [50000, 60000, 75000, 120000, 45000]}
df = pd.DataFrame(data)

df['Age_Normalized'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())
df['Salary_Normalized'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

print("Normalized Data:")
print(df[['Age', 'Age_Normalized', 'Salary', 'Salary_Normalized']])

Normalized Data:
   Age  Age_Normalized  Salary  Salary_Normalized
0   25            0.00   50000           0.066667
1   32            0.28   60000           0.200000
2   40            0.60   75000           0.400000
3   50            1.00  120000           1.000000
4   28            0.12   45000           0.000000

In [5]:
import pandas as pd

data = {
    'Age': [25, 36, 30, 27, 38, 42, 34],
    'Salary': [42000, 50000, 45000, 43000, 51000, 62000, 48000]
}
df = pd.DataFrame(data)

df['Age_Standardized'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()
df['Salary_Standardized'] = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()

print("Standardized Data:")
print(df[['Age', 'Age_Standardized', 'Salary', 'Salary_Standardized']])

Standardized Data:
   Age  Age_Standardized  Salary  Salary_Standardized
0   25         -1.330145   42000            -0.990994
1   36          0.466718   50000             0.189765
2   30         -0.513389   45000            -0.548209
3   27         -1.003443   43000            -0.843399
4   38          0.793420   51000             0.337360
5   42          1.446825   62000             1.960903
6   34          0.140015   48000            -0.105425

In [2]:
import pandas as pd
import numpy as np

# Define the dictionary
data = {'First Score': [100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score': [np.nan, 40, 80, 98]}

# Create the DataFrame
df = pd.DataFrame(data)

# Use bfill() directly to perform backward fill
df_interpolated = df.bfill()

print("Original DataFrame:")
print(df)
print("\nDataFrame after backward filling:")
print(df_interpolated)

Original DataFrame:
   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

DataFrame after backward filling:
   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0